.main-start{
	background-image: url(kitchen3.jpg);
	background-size: cover;
}
.bg-coral{
	background-color: #f16f55;
}
::selection{
	background-color: var(--success);
}
@font-face {
    font-family: MontserratExtraBold;
    src: url(../about/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: MontserratLight;
    src: url(../about/Montserrat-Light.ttf);
}
body{
	font-family: MontserratLight;
}
.border-radius-100{
	border-radius: 100px;
}
.montserat-bold{font-family: MontserratExtraBold;}
.login-form>input:not(:placeholder-shown)~label,
.login-form>input:focus~label{
	top: -10px;
	font-weight: bold;
}

.login-form>input~label{
	top: 20px;
	left: 30px;
	transition: top 500ms;
	pointer-events: none;
}
.login-form>input{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px darkGrey solid;
	border-radius: 0 !important;
}
.login-form>input:focus{
	/*border: none;*/
	border-bottom: 1px darkGrey solid;
	box-shadow: none;
}

label.switch{
	width: 60px;
	height: 15px;
	border-radius: 50px;
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;
}
label.switch>div{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -8px;
	left: 5px;
	border-radius: 50%;
	transition: transform 1s;
}
label.switch>input[type=checkbox]{visibility: hidden;}
label.switch>input[type=checkbox]:checked~div{
	transform: translateX(20px);
}
label.switch>input[type=checkbox]:not(:checked)~div{
	transform: translateX(0px);
}
.selected-text-in-switch{
	animation: 1s ease-out switch-text;

	-webkit-animation:switch-text ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:switch-text ease-in 1;
	animation:switch-text ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	animation-duration:500ms;
}
@keyframes switch-text{
	to{
		filter: drop-shadow(0 0 1px #007bff);
		font-weight: 900;
		color: #007bff;
	}
}

.custom-header-icons>i{
	cursor: pointer;
}