.main-start{
	background-image: url(kitchen3.jpg);
	background-size: cover;
}
.bg-coral{
	background-color: #f16f55;
}
::selection{
	background-color: var(--success);
}
@font-face {
    font-family: MontserratExtraBold;
    src: url(../about/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: MontserratLight;
    src: url(../about/Montserrat-Light.ttf);
}
body{
	font-family: MontserratLight;
}
.border-radius-100{
	border-radius: 100px;
}
.montserat-bold{font-family: MontserratExtraBold;}
.login-form>input:not(:placeholder-shown)~label,
.login-form>input:focus~label{
	top: -10px;
	font-weight: bold;
	font-size: 10px;
}

.login-form>input~label{
	top: 20px;
	left: 30px;
	transition: top 500ms, font-size 500ms;
	pointer-events: none;
}
.login-form>input{
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px darkGrey solid;
	border-radius: 0 !important;
}
.login-form>input:focus{
	border-bottom: 1px darkGrey solid;
	box-shadow: none;
}

label.switch{
	width: 60px;
	height: 15px;
	border-radius: 50px;
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;
}
label.switch>div{
	width: 30px;
	height: 30px;
	position: absolute;
	top: -8px;
	left: 5px;
	border-radius: 50%;
	transition: transform 1s;
}
label.switch>input[type=checkbox]{visibility: hidden;}
label.switch>input[type=checkbox]:checked~div{
	transform: translateX(20px);
}
label.switch>input[type=checkbox]:not(:checked)~div{
	transform: translateX(0px);
}
.selected-text-in-switch{
	animation: 1s ease-out switch-text;

	-webkit-animation:switch-text ease-in 1;
	-moz-animation:switch-text ease-in 1;
	animation:switch-text ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	animation-duration:500ms;
}
@keyframes switch-text{
	to{
		filter: drop-shadow(0 0 1px #007bff);
		font-weight: 900;
		color: #007bff;
	}
}

.custom-header-icons>i{
	cursor: pointer;
	padding: 15px;
	transition: color 500ms;
}
.message-error{ background: linear-gradient(to right, #F44336, #9C27B0) }
.message-success{ background: linear-gradient(to right, #28a745, #2867a7) }
.custom-header-icons>i.fa-facebook:hover{color: #3f51b5 !important}
.custom-header-icons>i.fa-twitter:hover{color: #03a9f4 !important}
.custom-header-icons>i.fa-google:hover{color: #b9194f !important}
.icon-container>li>a{ color: inherit }

.icon-container>li{
	padding-left: 15px;
	padding-right: 15px;
	transition: color 500ms, opacity 500ms;
	cursor: pointer;
	color: #444;
	opacity: .8;
	position: relative;
}
.icon-container>li>span{
	position: absolute;
	top: -5px;
	right: 3px;
	background-color: #d44343;
	border-radius: 14px;
	color: white;
	display: block;
	padding: 2px 7px;
	font-size: 11px;

}
.link-container a:hover,
.icon-container>li:hover{
	color: black !important;
	opacity: 1;
}
.link-container a{
	transition: color 500ms;
	color: #444 !important;
}
.rounded-input input.form-control {
	border-radius: 50px;
}
.rounded-input div.input-group-prepend,
.rounded-input div.input-group-prepend>span{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.hidden{
	animation: 1s ease-out hide-flash;

	-webkit-animation:hide-flash ease-in 1;
	-moz-animation:hide-flash ease-in 1;
	animation:hide-flash ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	animation-duration:500ms;
}
@keyframes hide-flash{
	to{
		opacity: 0;
		visibility: hidden;
	}
}
.message{
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9999;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
.bg-orange{
	background-color: #f16f55;
}
.aktion-label>label{
	cursor: pointer;
	background-color: #e6e6e6;
	transition: background-color 250ms, color 500ms;
}
.aktion-label>label:hover{
	background-color: #cecece;
}
.aktion-label>input[type=checkbox]{
	display: none;
}
.aktion-label>input[type=checkbox]:checked~label{
	background-color: #f16f55;
	color: white
}